* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    border-bottom: 1px solid #CBCBCB;
    width: 100%;
    height: 80px;
}
.container-large {
    margin: 0 auto;
    width: 98%;
    height: 100px;
}
.upper-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.8em;
    width: 100%;
    height: 40px;
}
.logo {
    display: flex;
    align-items: center;
}
.img-logo {
    width: 80px;
    height: auto;
}
.title-logo {
    color: #5F6368;
    display: inline-block;
    font-size: x-large;
    padding-left: 3px;
    padding-bottom: 3px;
    font-weight: 400;
}
.user {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}
.mask-profile {
    overflow: hidden;
    border-radius: 15px;
    margin-left: 8px;
    width: 30px;
    height: 30px;
}
.img-user {
    width: 30px;
    height: 30px;
}

.bottom-header {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 40px;
}
.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    width: 40%;
}
.navbar-item {
    color: #5F6371;
    font-weight: 500;
}
.navbar-item.active {
    color: #3367D6;
    border-bottom: 3px solid #3367D6;
    padding-bottom: 5px;
}



main {
    width: 100%;
}
.container {
    width: 60%;
    margin: 0 auto;
}


footer {
    background-color: #F5F5F5;
    width: 100%;
    height: 40px;
}
.container.ft {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ft-left {
    display: flex;
    height: 40px;
    align-items: center;
}
.ft-right {
    display: flex;
    height: 40px;
    align-items: center;
}
#language {
    width: 180px;
}